* {
  margin: 0px;
  padding: 0px;
}

.banner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 933px;
}

.banner-container img {
  width: 100%;
  height: 933px;
}

.banner-container h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: rgba(255, 255, 255, 0.94);
}
