* {
  margin: 0px;
  padding: 0px;
}

.lab-container {
  background-color: #e8f4ff;
  width: 100%;
}

.banner-lab-satu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-lab-dua {
  margin: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-lab-empat {
  margin: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
